
<!--  FOOTER AREA START  -->
<section id="footer" class="section-padding">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4">
          <div class="footer-widget footer-link">
            <div class="animated wow fadeIn">
              <h4>With Our Strategy<br>Unlock Rapid Business Growth</h4>
          </div>
          <div class="animated wow fadeInLeft" data-wow-delay="1s">
            <p>Experience lightning-fast business growth with our marketing strategy. We're committed to your success and our sole aim is helping you thrive. Join us today and witness your business skyrocket. Don't wait, let's make your dreams a reality.</p>
          </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <div class="footer-widget footer-link">
            <div class="animated wow fadeIn" data-wow-delay="0.3s">
            <h4>About</h4>
            </div>
  
            <ul>
              <div class="animated wow fadeInDown" data-wow-delay="1s">
              <li><a href="#">About</a></li>
              </div>
              <div class="animated wow fadeInDown"data-wow-delay="1.3s">
              <li><a href="#">Service</a></li>
              </div>
              <div class="animated wow fadeInDown"data-wow-delay="1.6s">
              <li><a href="#">Pricing</a></li>
              </div>
              <div class="animated wow fadeInDown"data-wow-delay="1.9s">
              <li><a href="#">Contact Us</a></li>
              </div>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-2 col-md-4 col-6">
          <div class="footer-widget footer-link">
            <div class="animated wow fadeIn" data-wow-delay="0.6s">
            <h4>Quick Links</h4>
            </div>
            <ul>
              <div class="animated wow fadeInDown" data-wow-delay="1s">
              <li><a href="#">Support</a></li>
              </div>
              <div class="animated wow fadeInDown"data-wow-delay="1.3s">
              <li><a href="#">Privacy Policy</a></li>
              </div>
              <div class="animated wow fadeInDown" data-wow-delay="1.6s">
              <li><a href="#">Report Bug</a></li>
              </div>
              <div class="animated wow fadeInDown" data-wow-delay="1.9s">
              <li><a href="#">Terms & Condition</a></li>
              </div>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="footer-widget footer-text">
            <div class="animated wow fadeIn" data-wow-delay="0.9s">
            <h4>Contact Info</h4></div>
            <div class="animated wow fadeInDown" data-wow-delay="1s">
              <p class="mail"><span>Mail:</span> Contact&#64;marqenti.tn</p>
            </div>
            <div class="animated wow fadeInDown" data-wow-delay="1.3s">
            <p><span>Phone :</span>+216 24 740 423</p></div>
            <div class="animated wow fadeInDown" data-wow-delay="1.6s">
            <p><span>Location:</span> ROUTE KAIED MHAMED KM 5.5</p>
          </div>
          </div>
        </div>
      </div>
      <div class="row animate wow fadeInRight" data-wow-delay="1.8s">
        <div class="col-lg-12 text-center">
          <div class="footer-copy">
            Copyright &copy; 2024, All Rights Reserved-<a class="marqenti-dark" href="#">MarQenti</a>
          </div>
        </div>
      </div>
    </div>
  </section>