

<!--MAIN BANNER AREA START -->
<div class="banner-area banner-5">
<div class="hero" id="top">
  <video width="100%" autoplay muted plays-inline loop class="back-vid"><source src="./assets/images/banner/pricing.mp4" type="video/mp4"></video>
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
              <div class="banner-content content-padding">
                <div class=" wow bounceIn animate" data-wow-delay="1s">
                <h5 class="subtitle">MAR<span>Q</span>ENTI</h5></div>
                <div class="wow zoomInDown animate" data-wow-duration="1s">
                <h1 class="banner-title">{{"xy"|translate}}</h1></div>
                <div class="wow zoomInDown animate" data-wow-duration="1s" data-wow-delay="0.4s">
                <p>{{"xy.1"|translate}}</p>
                </div>
                <div class="wow zoomInDown animate" data-wow-delay="1s">
                <a (click)="scrollTo('first-b')" class="btn btn-white btn-circled nav-link smoth-scroll">{{"xy.2"|translate}}</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<!--MAIN HEADER AREA END -->