<!--  SERVICE AREA START  -->
<section class="section pt-0" id="area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-sm-12 col-md-6 mb-5 mb-lg-0">
          <img src="./assets/images/bg/lor.jpg" alt="feature bg" class="img-fluid">
        </div>
  
        <div class="col-lg-7 pl-4">
          <div class="mb-5">
            <div class="animated wow fadeInRight" >
            <h3 class="mb-4">{{"o"|translate}}<br> {{"o.1"|translate}}</h3></div>
            <div class="animated wow fadeIn" data-wow-delay="0.6s">
            <p>{{"o.2"|translate}}</p></div>
          </div>
  
          <ul class="about-list">
            <li>
              <div class="animated wow fadeInRight" >
              <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>{{"o.3"|translate}}</h5></div>
              <div class="animated wow fadeInUp" data-wow-delay="0.2s" >
              <p>{{"o.4"|translate}} <span class="marqenti">{{"o.5"|translate}}</span>{{"o.6"|translate}}</p></div>
            </li>
  
            <li>
              <div class="animated wow fadeInRight" data-wow-delay="0.2s" >
              <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>{{"o.7"|translate}}</h5></div>
              <div class="animated wow fadeInUp" data-wow-delay="0.4s" >
              <p>{{"o.8"|translate}}</p></div>
            </li>
  
            <li>
              <div class="animated wow fadeInRight" data-wow-delay="0.4s" >
              <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>{{"o.9"|translate}}</h5></div>
              <div class="animated wow fadeInUp" data-wow-delay="0.6s" >
              <p>{{"o.10"|translate}}</p></div>
            </li>
            <li>
              <div class="animated wow fadeInRight" data-wow-delay="0.6s" >
              <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>{{"o.11"|translate}} </h5></div>
              <div class="animated wow fadeInUp" data-wow-delay="0.8s" >
              <p>{{"o.12"|translate}}</p></div>
            </li>
          </ul>
          <div class=" row col-lg-12 text-center">
            <div class=" col-lg-11 paddy" id="btn-prix">
            <a href="blog.html" class="btn btn-Red btn-circled nav-link smoth-scroll ">{{"o.13"|translate}}</a></div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <!--  SERVICE AREA END  -->