  
<div id="menu" > 
    <nav class="navbar navbar-expand-lg trans-navigation" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img width="100" alt="logo" src="./assets/images/maftoul.svg" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa fa-bars"></i>
          </span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link smoth-scroll" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">{{"b"|translate}}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link smoth-scroll"  routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">{{"b.1"|translate}}</a> 
            </li>

            <li class="nav-item">
              <a class="nav-link smoth-scroll" routerLink="/service" routerLinkActive="active" ariaCurrentWhenActive="page">{{"b.2"|translate}}</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link smoth-scroll" routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">{{"b.2"|translate}}</a> 
              </li>

            <li class="nav-item">
                <a class="nav-link smoth-scroll" style="color: #c3001e" routerLink="/pricing" routerLinkActive="active" ariaCurrentWhenActive="page">{{"b.3"|translate}}</a> 
              </li>
              <li class="nav-item">
                <a class="nav-link smoth-scroll"  routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">{{"b.4"|translate}}</a> 
              </li>
          </ul>
        </div>
      </div>
      <div id="in"></div>
    </nav>
    </div>
  <!--MAIN HEADER AREA END -->