
<!--  FOOTER AREA START  -->
<section id="footer" class="section-padding">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4">
          <div class="footer-widget footer-link">
            <div class="animated wow fadeIn">
              <h4>{{"h"|translate}}<br>{{"h.1"|translate}}</h4>
          </div>
          <div class="animated wow fadeInLeft" data-wow-delay="1s">
            <p>{{"h.2"|translate}}</p>
          </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <div class="footer-widget footer-link">
            <div class="animated wow fadeIn" data-wow-delay="0.3s">
            <h4>{{"h.3"|translate}}</h4>
            </div>
  
            <ul>
              <div class="animated wow fadeInDown" data-wow-delay="1s">
              <li><a href="#">{{"h.4"|translate}}</a></li>
              </div>
              <div class="animated wow fadeInDown"data-wow-delay="1.3s">
              <li><a href="#">{{"h.5"|translate}}</a></li>
              </div>
              <div class="animated wow fadeInDown"data-wow-delay="1.6s">
              <li><a href="#">{{"h.6"|translate}}</a></li>
              </div>
              <div class="animated wow fadeInDown"data-wow-delay="1.9s">
              <li><a href="#">{{"h.7"|translate}}</a></li>
              </div>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-2 col-md-4 col-6">
          <div class="footer-widget footer-link">
            <div class="animated wow fadeIn" data-wow-delay="0.6s">
            <h4>{{"h.8"|translate}}</h4>
            </div>
            <ul>
              <div class="animated wow fadeInDown" data-wow-delay="1s">
              <li><a href="#">{{"h.9"|translate}}</a></li>
              </div>
              <div class="animated wow fadeInDown"data-wow-delay="1.3s">
              <li><a href="#">{{"h.10"|translate}}</a></li>
              </div>
              <div class="animated wow fadeInDown" data-wow-delay="1.6s">
              <li><a href="#">{{"h.11"|translate}}</a></li>
              </div>
              <div class="animated wow fadeInDown" data-wow-delay="1.9s">
              <li><a href="#">{{"h.12"|translate}}</a></li>
              </div>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="footer-widget footer-text">
            <div class="animated wow fadeIn" data-wow-delay="0.9s">
            <h4>{{"h.13"|translate}}</h4></div>
            <div class="animated wow fadeInDown" data-wow-delay="1s">
              <p class="mail"><span>{{"h.14"|translate}}</span> {{"h.15"|translate}}</p>
            </div>
            <div class="animated wow fadeInDown" data-wow-delay="1.3s">
            <p><span>{{"h.16"|translate}}</span>{{"h.17"|translate}}</p></div>
            <div class="animated wow fadeInDown" data-wow-delay="1.6s">
            <p><span>{{"h.18"|translate}}</span> {{"h.19"|translate}}</p>
          </div>
          </div>
        </div>
      </div>
      <div class="row animate wow fadeInRight" data-wow-delay="1.8s">
        <div class="col-lg-12 text-center">
          <div class="footer-copy">
            {{"h.20"|translate}}<a class="marqenti-dark" href="#">{{"h.21"|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>