
<!--  HISTORY AREA  -->
<section class="section-padding pt-0">
    <div class="container">
      <div class="row" id="intro">
        <div class=" wow fadeInRight animated col-lg-12 col-sm-12 col-md-12"  >
          <div class="section-heading">
            <p class="lead">{{"m"|translate}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="media img-block mb-3 mb-lg-0">
            <div class="animated wow fadeInUp" data-wow-delay="0.7s">
            <img src="./assets/images/about/mesa.svg " alt="" class="img-fluid rounded mr-3">
            </div>
            <div class="media-body ">
              <div class="animated wow fadeInRight dynamic-mobile" data-wow-delay="0.7s">
              <h4 class="mb-3">{{"m.1"|translate}}</h4></div>
              <div class="animated wow fadeInLeft dynamic-mobile" data-wow-delay="1.4s"><p>{{"m.2"|translate}}
  </p></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="media img-block">
            <div class="animated wow fadeInUp dynamic-mobile" data-wow-delay="2.3s">
            <img src="./assets/images/about/plans.svg" alt="" class="img-fluid rounded mr-3">
            </div>
            <div class="media-body">
              <div class="animated wow fadeInRight dynamic-mobile" data-wow-delay="2.3s">
              <h4 class="mb-3">{{"m.3"|translate}}</h4></div>
              <div class="animated wow fadeInLeft dynamic-mobile" data-wow-delay="3s"><p>{{"m.4"|translate}}</p></div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
  </section>
  <!--  HISTORY AREA END  -->