<!--  SERVICE BLOCK2 START  -->
<section id="service-2" class="section-padding pb-5">
    <div class="container">
      <div class="row" id="intro" style="padding-bottom:40px;">
        <div class=" wow fadeInUp animated col-lg-12 col-sm-12 col-md-12 animated">
          <div class="section-heading">
            <p class="lead">{{"t"|translate}}</p>
          </div>
        </div>
      </div> 
        <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-box-2 mb-5">
            <div class="animated wow fadeInRight">
            <span>01</span></div>
            <div class="animated wow fadeInLeft" data-wow-delay="0.2s">
            <h4>{{"t.1"|translate}}</h4></div>
            <div class="animated wow fadeInLeft" data-wow-delay="0.4s">
            <p class="mb-0">{{"t.2"|translate}}</p></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-box-2 mb-5">
            <div class="animated wow fadeInRight" data-wow-delay="0.2s">
            <span>02</span></div>
            <div class="animated wow fadeInLeft" data-wow-delay="0.5s">
            <h4>{{"t.3"|translate}}</h4></div>
            <div class="animated wow fadeInLeft" data-wow-delay="0.7s">
            <p class="mb-0">{{"t.4"|translate}}</p></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-box-2 mb-5">
            <div class="animated wow fadeInRight" data-wow-delay="0.4s">
            <span>03</span></div>
            <div class="animated wow fadeInLeft" data-wow-delay="0.8s">
            <h4>{{"t.5"|translate}}</h4></div>
            <div class="animated wow fadeInLeft" data-wow-delay="1s">
            <p class="mb-0">{{"t.6"|translate}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  SERVICE BLOCK2 END  -->