 
<!-- PRICE AREA START  -->
<section id="pricing" class="section-padding bg-main">

    <div class="container">
  
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading">
            <div class="wow animated bounceIn">
              <h4 class="section-title">{{"e"|translate}}</h4>
            </div>
            <div id="prix"></div>
            <div class="wow animated fadeIn" data-wow-delay="0.5s">
              <p >{{"e.1"|translate}} </p>    
            </div>  
  
          </div>
        </div>
      </div>
      <div class="row"  >
        <a class="carousel-control-prev " href="#test-carousel2" aria-label="previous"  role="button" data-slide="prev">
          <img height="auto" width="auto" class="disappear" alt="previous" src="./assets/images/icon/left.svg">
        </a>
        <a class="carousel-control-next " href="#test-carousel2" aria-label="next"  role="button" data-slide="next">
          <img height="auto" width="auto" class="disappear" alt="next" src="./assets/images/icon/right.svg">
        </a>
        <div class="col-lg-12 col-sm-12 ">
          
          <div class="carousel slide" id="test-carousel2" data-ride="carousel">
            
            <div class="carousel-inner" >
              
                <ol class="carousel-indicators" >
                  <li data-target="#test-carousel2" name="c1" data-slide-to="0" class="active"></li>
                  <li data-target="#test-carousel2" name="c2" data-slide-to="1" class=""></li>
                </ol>
              <div class="carousel-item active">
                <div class="row margy">
                  <div class="col-lg-4 col-sm-6 animated zoomIn wow">
                    <div class="pricing-block ">
                    <div class="price-header">
                      <i class="icofont-light-bulb"></i>
          
                      <h4 class="price"><small class="up">TND </small>599</h4>
                      <h5 class="pack-title">{{"e.2"|translate}}</h5>
                    </div>
                    <div class="line"></div>
                    <ul>
                      <li>{{"e.3"|translate}}</li>
                      <li>{{"e.4"|translate}}</li>
                      <li>{{"e.5"|translate}}</li>
                      <li>{{"e.6"|translate}}</li>
                      <li>{{"e.7"|translate}}</li>
                      <li>{{"e.8"|translate}}</li>
                    </ul>
          
                    <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.9"|translate}}</a>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 animated zoomIn wow">
                  <div class="pricing-block ">
                    <div class="price-header">
                      <i class="icofont-rocket-alt-1"></i>
          
                      <h4 class="price"><small class="up">TND </small>2999</h4>
                      <h5 class="pack-title">{{"e.10"|translate}}</h5>
                    </div>
                    <div class="line"></div>
                    <ul>
                      <li>{{"e.11"|translate}}</li>
                      <li>{{"e.12"|translate}}</li>
                      <li>{{"e.13"|translate}}</li>
                      <li>{{"e.14"|translate}}</li>
                      <li>{{"e.15"|translate}}</li>
                      <li>{{"e.16"|translate}}</li>
                    </ul>
          
                    <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.9"|translate}}</a>
                  </div>
                </div>
  
                <div class="col-lg-4 col-sm-6 animated zoomIn wow">
                  <div class="pricing-block">
                    <div class="price-header">
                      <i class="icofont-fire-burn"></i>
          
                      <h4 class="price"><small class="up">TND </small>1999</h4>
                      <h5 class="pack-title">{{"e.18"|translate}}</h5>
                    </div>
                    <div class="line"></div>
                    <ul>
                      <li>{{"e.19"|translate}}</li>
                      <li>{{"e.20"|translate}}</li>
                      <li>{{"e.21"|translate}}</li>
                      <li>{{"e.22"|translate}}</li>
                      <li>{{"e.23"|translate}}</li>
                      <li>{{"e.24"|translate}}</li>
                    </ul>
          
                    <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.9"|translate}}</a>
                  </div>
                </div>
              </div>
              </div>
              <!--  ITEM END  -->
              <div id="team"></div>
              <div class="carousel-item">
                <div class="row margy" >
                  
                  <div class="col-lg-4 col-sm-6 animated zoomIn">
                    <div class="pricing-block ">
                      <div class="price-header">
                        <i class="icofont-web"></i>
                  
                        <h4 class="price"><small class="up">TND </small>1499</h4>
                        <h5>{{"e.26"|translate}}</h5>
                      </div>
                  
                      <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.9"|translate}}</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 animated zoomIn ">
                    <div class="pricing-block ">
                      <div class="price-header">
                        <i class="icofont-drawing-tablet"></i>
                  
                        <h4 class="price"><small class="up">TND </small>999</h4>
                        <h5>{{"e.28"|translate}}</h5>
                      </div>
                      <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.9"|translate}}</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 animated zoomIn ">
                    <div class="pricing-block">
                      <div class="price-header">
                        <i class="icofont-options"></i>
                  
                        <h4 class="price"><small class="up">TND </small>799</h4>
                        <h5>{{"e.30"|translate}}</h5>
                      </div>
                  
                      <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.9"|translate}}</a>
                    </div>
                    
                  </div>
                  <div class="col-lg-4 col-sm-6 animated zoomIn ">
                    <div class="pricing-block ">
                      <div class="price-header">
                        <i class="icofont-ui-video-chat"></i>
            
                        <h4 class="price"><small class="up">TND </small>99<small class="grey">/min</small></h4>
                        <h5>{{"e.32"|translate}}</h5>
                      </div>
            
                      <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.33"|translate}}</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 animated zoomIn ">
                    <div class="pricing-block ">
                      <div class="price-header">
                        <i class="icofont-hard-disk"></i>
            
                        <h4 class="price"><small class="up">TND </small>145<small class="grey">/year</small></h4>
                        <h5>{{"e.34"|translate}}</h5>
                      </div>
            
                      <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.35"|translate}}</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 animated zoomIn ">
                    <div class="pricing-block">
                      <div class="price-header">
                        <i class="icofont-light-bulb"></i>
            
                        <h4 class="price"><small class="up">TND </small>299<small class="grey">/year</small></h4>
                        <h5>{{"e.36"|translate}}</h5>
                      </div>
            
                      <a href="./assets/contact.html" class="btn btn-hero btn-circled">{{"e.37"|translate}}</a>
                    </div>
                  </div>
                </div>
            </div>
  
              <!--  ITEM END  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="team"></div>
  </section>
  <!-- PRICE AREA END  -->