
<section class="section blog-wrap "id="first-b">
  <div class="container" >
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <div class="blog-post">
              <img width="auto" height="auto" src="./assets/images/blog/blog-lg.jpg" alt="BG-Post" class="w-100">
              <div class="mt-4 mb-3 d-flex"></div>
              <a href="#!" class="h4 ">{{"hy"|translate}}</a>
              <p class="mt-3">{{"hy.1"|translate}}
              </p>
              <!-- <a href="blog-single.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a> -->
            </div>
          </div>
  <div class="col-lg-6 col-md-6">
    <div class="blog-post">
      <img width="auto" height="auto" src="./assets/images/blog/1.svg" alt="Video-Marketing" class="w-100">
      <div class="mt-4 mb-3 d-flex">
      </div>
      <a  href="#!" class="h4">{{"hy.2"|translate}}</a>
      <p class="mt-3">{{"hy.3"|translate}}
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="blog-post">
      <img width="auto" height="auto" src="./assets/images/blog/2.svg" alt="Web-Hosting" class="w-100">
      <div class="mt-4 mb-3 d-flex">
      </div>
      <a href="#!" class="h4 ">{{"hy.4"|translate}}</a>
      <p class="mt-3">{{"hy.5"|translate}}
      </p>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="blog-post">
      <img width="auto" height="auto" src="./assets/images/blog/3.svg" alt="Web-Development" class="w-100">
      <div class="mt-4 mb-3 d-flex">
      </div>
      <a href="#!" class="h4 ">{{"hy.6"|translate}}</a>
      <p class="mt-3">{{"hy.7"|translate}}</p>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="blog-post">
      <img width="auto" height="auto" src="./assets/images/blog/4.svg" alt="Sponsoring" class="w-100">
      <div class="mt-4 mb-3 d-flex">
      </div>
      <a href="#!" class="h4 ">{{"hy.8"|translate}}</a>
      <p class="mt-3">
        {{"hy.9"|translate}}</p>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="blog-post">
      <img width="auto" height="auto" src="./assets/images/blog/5.svg" alt="Graphic Design" class="w-100">
      <div class="mt-4 mb-3 d-flex">
      </div>
      <a href="#!" class="h4 ">{{"hy.10"|translate}}</a>
      <p class="mt-3">{{"hy.11"|translate}}</p>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="blog-post">
      <img width="auto" height="auto" src="./assets/images/blog/6.svg" alt="SEO" class="w-100">
      <div class="mt-4 mb-3 d-flex">
      </div>
      <a href="#!" class="h4 ">{{"hy.12"|translate}}</a>
      <p class="mt-3">{{"hy.13"|translate}}
      </p>
    </div>
  </div>
</div>
</div>

  <div class="col-lg-4" >
    <div class="row mt-5 mt-lg-0 sidebar static sticky-1" id="sidebar" >

      <div class="col-lg-12">
        <div class="sidebar-widget about-bar">
          <h2 class="mb-3 h5">{{"hy.14"|translate}}</h2>
          <p>{{"hy.15"|translate}}</p>
        </div>
    </div>

    <div class="col-lg-12">
    <div class="sidebar-widget category">
      <h5 class="mb-3">{{"hy.16"|translate}}</h5>
      <ul id="mips" class="list-group">
        <li class="list-group-item voir-plus" id="Slide-1" data-toggle="collapse" href="#inner-1">
          <div class="">
            <span class="fleche" id="fleche" style="color: #c3001e;">&#9654;</span>
            <span class="pointy " > {{"hy.17"|translate}}</span>
            
          </div>
          <!-- <span class="pointy " > Graphic Design</span> -->
          <ul id="inner-1" class="nocontent list-group list-group-flush collapse "><br>
            <li class="list-group-item subcategory pdt"> <span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.18"|translate}}        <span class="right"> 199<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.19"|translate}}<span class="right"> 79<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">•</span>{{"hy.20"|translate}}<span class="right"> 79<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.21"|translate}}<span class="right"> 1800<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.22"|translate}}<span class="right"> 149<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.23"|translate}}<span class="right"> 149<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.24"|translate}}<span class="right"> 299<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.25"|translate}}<span class="right"> 199<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.26"|translate}}<span class="right"> 249<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.27"|translate}}<span class="right"> 399<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.28"|translate}}<span class="right"> 499<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.29"|translate}}<span class="right"> 949<small>TND</small></span></li>
          </ul>
        </li>
        <li class="list-group-item voir-plus " id="Slide-1" data-toggle="collapse" href="#inner-2">
          <div class="">
            <span class="fleche" id="fleche" style="color: #c3001e;">&#9654;</span>
            <span class="pointy">{{"hy.30"|translate}}</span><br>
            
          </div>
          <ol id="inner-2"class="nocontent list-group list-group-flush collapse "><br>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.31"|translate}}<span class="right"> 699<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.32"|translate}}<span class="right"> 1199<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.33"|translate}}<span class="right"> 1599<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.34"|translate}}<span class="right"> 1999<small>TND</small></span></li>
          </ol></li>
        <li class="list-group-item voir-plus" id="Slide-1" data-toggle="collapse" href="#inner-3">
          <div class="">
            <span class="fleche" id="fleche" style="color: #c3001e;">&#9654;</span>
            <span class="pointy">{{"hy.35"|translate}}</span><br>
            
          </div>
          <ol id="inner-3"class="nocontent list-group list-group-flush collapse "><li></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.36"|translate}}<span class="right"> 249<small>TND/min</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.37"|translate}}     <span class="right"> 799-1499<small>TND/min</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.38"|translate}}<span class="right"> 399<small>TND/video</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.39"|translate}}<span class="right"> 499<small>TND/video</small></span></li>
          </ol></li>
        <li class="list-group-item voir-plus" id="Slide-1" data-toggle="collapse" href="#inner-4">
          <div class="">
            <span class="fleche" id="fleche" style="color: #c3001e;">&#9654;</span>
            <span class="pointy">{{"hy.40"|translate}}</span>
            
          </div>
          <ol id="inner-4"class="nocontent list-group list-group-flush collapse "><br>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.41"|translate}}<span class="right"> 299<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.42"|translate}}       <span class="right"> 299<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.43"|translate}}<span class="right"> 69<small>TND/PUB</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.44"|translate}}<span class="right"> 399<small>TND/moins</small></span></li>
          </ol></li>
        <li class="list-group-item voir-plus" id="Slide-1" data-toggle="collapse" href="#inner-5">


          <div >
            <span class="fleche" id="fleche" style="color: #c3001e;">&#9654;</span>
            <span class="pointy">{{"hy.45"|translate}}</span><br>
            
          </div>
          <ol id="inner-5"class="nocontent list-group list-group-flush collapse "><br>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.46"|translate}}<span class="right"> 399<small>TND</small></span></li>
            <li class="list-group-item subcategory"><span class="fleche" id="fleche" style="color: #c3001e;
              position: absolute;
              font-size: 30px;
              left: 0px;">&bull;</span>{{"hy.47"|translate}}<span class="right">499<small>TND/moins</small></span></li>
          </ol></li>
      </ul>
    </div>
  </div>

  <!-- <div class="col-lg-12">
    <div class="sidebar-widget tag">
      <a href="blog.html">web</a>
      <a href="blog.html">development</a>
      <a href="blog.html">seo</a>
      <a href="blog.html">marketing</a>
      <a href="blog.html">branding</a>
      <a href="blog.html">web deisgn</a>
      <a href="blog.html">Tutorial</a>
      <a href="blog.html">Tips</a>
      <a href="blog.html">Design trend</a>
    </div>
  </div>-->
  <div class="col-lg-12">
    <div class="sidebar-widget download" id="download-files">
      <h5 class="mb-4" >{{"hy.48"|translate}}</h5>
      <a id="Pricing-Manuel" href="#" target="_blank"> <i class="fa fa-file-pdf"></i>Pricing Manual</a>
      <!-- <a href="MarQenti/iis.pptx"> <i class="fa fa-file-pdf"></i>IIS Project</a> -->
    </div>
  </div>

</div>
      </div>
    </div>
  </div>
</section>
