<!--  SERVICE AREA START  -->
<section id="about" class="bg-light">
    <div class="container" >
      <div class="row" >
        <div class="col-lg-7 col-sm-12 col-md-8">
          <div class="about-content"  >
            <br>
            <div class="wow  fadeIn">
            <h3>{{"d"|translate}} <br>{{"d.1"|translate}}</h3>
          </div>
          <div class="wow  fadeIn" data-wow-delay="0.3s">
            <p>{{"d.2"|translate}}</p>
          </div>
            <ul class="about-list">
            <div class="wow animated fadeInLeft dynamic-mobile" data-wow-delay="0.6s">
              <li><i class="far fa-check-circle"></i>{{"d.3"|translate}}</li>
            </div>
            <div class="wow  fadeInRight dynamic-mobile" data-wow-delay="1.4s">
              <li>
                <i class="far fa-check-circle"> </i> {{"d.4"|translate}}
              </li>
            </div>
              <div class="wow  fadeInLeft dynamic-mobile" data-wow-delay="0.9s">
              <li >
                <i class="far fa-check-circle"> </i> {{"d.5"|translate}}
              </li>
            </div>
              <div class="wow  fadeInRight dynamic-mobile" data-wow-delay="1.7s">
              <li >
                <i class="far fa-check-circle"> </i> {{"d.6"|translate}}
              </li>
            </div>
              <div class="wow  fadeInLeft dynamic-mobile" data-wow-delay="1.1s">
              <li id="services">
                <i class="far fa-check-circle"> </i> {{"d.7"|translate}}
              </li>
            </div>
              <div class="wow  fadeInRight dynamic-mobile" data-wow-delay="2s">
              <li>
                <i class="far fa-check-circle"></i> {{"d.8"|translate}}
              </li>
            </div>
            </ul>
          </div>
        </div>
        <div class=" d-none d-lg-block d-md-block"><div class="wow animated fadeIn" ><img height="auto" width="auto" class="img-asset" alt="MarQenti-Goals" loading="lazy" src="./assets/images/bg/service.svg"></div></div>
  
      </div>
    </div>
  </section>
  <!--  SERVICE AREA END  -->
  
  <!--  SERVICE PARTNER START  -->
  <section id="service-head" class=" bg-feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading text-white">
            <div class="wow animated bounceIn">
              <h1  class="section-title">{{"d.9"|translate}}</h1>
            </div>
            <div class="wow animated fadeIn" data-wow-delay="0.5s">
            <p>{{"d.10"|translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  SERVICE PARTNER END  -->
     <!--  SERVICE AREA START  -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-6 animated zoomIn wow" data-wow-duration="1s"data-wow-delay="0.3s">
          <div class="service-box ">
            <div class="service-img-icon">
              <img height="auto" width="auto" style="padding-left:13px;" loading="lazy" src="./assets/images/icon/vmr.png" alt="service-icon" class="img-fluid">
            </div>
            <div class="service-inner ">
              <h4>{{"d.11"|translate}}</h4>
              <p>{{"d.12"|translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 animated zoomIn wow" data-wow-duration="1s"data-wow-delay="0.3s">
          <div class="service-box ">
            <div class="service-img-icon">
              <img height="auto" width="auto"  src="./assets/images/icon/em1.png" loading="lazy" alt="service-icon" class="img-fluid">
            </div>
            <div class="service-inner">
              <h4>{{"d.13"|translate}}</h4>
              <p>{{"d.14"|translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 animated zoomIn wow" data-wow-duration="1s"data-wow-delay="0.3s">
          <div class="service-box">
            <div class="service-img-icon">
              <img height="auto" width="auto" src="./assets/images/icon/seops.png" loading="lazy" alt="service-icon" class="img-fluid">
            </div>
            <div class="service-inner">
              <h4>{{"d.15"|translate}}</h4>
              <p>{{"d.16"|translate}}</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6 col-md-6 animated zoomIn wow" data-wow-duration="1s"data-wow-delay="0.3s">
          <div class="service-box">
            <div class="service-img-icon">
              <img height="auto" width="auto" src="./assets/images/icon/webdev.png" loading="lazy" alt="service-icon" class="img-fluid">
            </div>
            <div class="service-inner">
              <h4>{{"d.17"|translate}}</h4>
              <p>{{"d.18"|translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 animated zoomIn wow" data-wow-duration="1s"data-wow-delay="0.3s">
          <div class="service-box">
            <div class="service-img-icon">
              <img height="auto" width="auto" src="./assets/images/icon/006-analytics.png" loading="lazy" alt="service-icon" class="img-fluid">
            </div>
            <div class="service-inner">
              <h4>{{"d.19"|translate}}</h4>
              <p>{{"d.20"|translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 animated zoomIn wow" data-wow-duration="1s"data-wow-delay="0.3s">
          <div class="service-box">
            <div class="service-img-icon">
              <img height="auto" width="auto" src="./assets/images/icon/gd.png" loading="lazy" alt="service-icon" class="img-fluid">
            </div>
            <div class="service-inner">
              <h4>{{"d.21"|translate}}</h4>
              <p>{{"d.22"|translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  SERVICE AREA END  -->