<div class="content-container" id="form">
  <!-- Contact START -->
  <section class="section-padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-sm-12 col-md-12">
                  <div class="mb-5">
                      <div class="wow animated fadeInLeft">
                          <h2 class="mb-2">{{"y"|translate}}</h2>
                      </div>
                      <div class="animated wow zoomInLeft" data-wow-delay="0.2s">
                          <p>{{"y.1"|translate}}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-7 col-sm-12">
                  <form class="contact__form" method="post">
                      <!-- form message -->
                      <div class="row">
                          <div class="col-12">
                              <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                  {{"y.2"|translate}}
                              </div>
                          </div>
                      </div>
                      <!-- end message -->
                      <div class="row">
                          <div class="col-md-6 form-group animated wow fadeInDown">
                              <input name="name" type="text" class="form-control" placeholder="Name" required>
                          </div>
                          <div class="col-md-6 form-group animated wow fadeInDown">
                              <input name="email" type="email" class="form-control" placeholder="Email" required>
                          </div>
                          <div class="col-md-12 form-group animated wow fadeInDown" data-wow-delay="0.4s">
                              <input name="tel" type="text" class="form-control" placeholder="Numero Telephone" required>
                          </div>
                          <div class="col-md-12 form-group animated wow fadeInDown" data-wow-delay="0.6s">
                              <input name="subject" type="text" class="form-control" placeholder="Subject" required>
                          </div>
                          <div class="col-12 form-group animated wow fadeInDown" data-wow-delay="0.8s">
                              <textarea name="message" class="form-control" rows="6" placeholder="Message" required></textarea>
                          </div>
                          <div class="col-12 mt-4 animated wow fadeInRight" data-wow-delay="1s">
                              <input name="submit" type="submit" class="btn btn-hero btn-circled" value="Send Message">
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col-lg-5 col-sm-12">
                  <div class="contact-info">
                      <h4>{{"y.5"|translate}}</h4>
                      <p>{{"y.6"|translate}}</p>
                      <h4>{{"y.7"|translate}}</h4>
                      <p>{{"y.8"|translate}}</p>
                      <h4>{{"y.9"|translate}}</h4>
                      <p>{{"y.10"|translate}}</p>
                      <h4>{{"y.11"|translate}}</h4>
                      <p>{{"y.12"|translate}}</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
