<!--MAIN BANNER AREA START -->
<div class="banner-area banner-2">
    <div class="hero" id="top">
      <video width="100%" height="auto" autoplay muted plays-inline loop class="back-vid"><source src="./assets/images/banner/banner3.mp4" type="video/mp4"><track kind="captions" ></video>
        <div class="d-table">
          <div class="d-table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                  <div class="banner-content content-padding">
                    <div class=" wow bounceIn animated" data-wow-delay="1s">
                      <h5 class="subtitle">{{"a"|translate}}</h5>
                    </div>
                    <div class="wow zoomInDown animated" data-wow-duration="1s">
                      <h1 class="banner-title">{{"a.1"|translate}}<br>{{"a.2"|translate}}</h1>
                    </div>
                    <div class="wow zoomInDown animated" data-wow-duration="1s" data-wow-delay="0.4s">
                    <p>{{"a.3"|translate}}</p>
                    </div>
                    <div class="wow fadeIn animated" data-wow-delay="1800ms">
                     <a (click)="scrollTo('about')" class="btn btn-white btn-circled nav-link smoth-scroll">{{"a.4"|translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>