
<!--  COUNTER AREA  -->
<section class="section-padding pt-0">
    <div class="container">
      <div class="row" id="intro">
        <div class=" wow fadeInUp animated dynamic-mobile col-lg-12 col-sm-12 col-md-12"   data-wow-delay="3s">
          <div class="section-heading">
            <p class="lead">{{"n"|translate}}</p>
          </div>
        </div>
      </div>
      <div class="row animated fadeIn wow" data-wow-delay="0.7s">
        <div class="col-lg-3 col-md-6">
          <div class="text-center border p-4 rounded mb-4 ">
            <span class="counter text-dark font-weight-normal" data-count="25">0</span>
            <h5 class="text-uppercase mt-2">{{"n.1"|translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="text-center border p-4 rounded mb-4">
            <span class="counter text-dark font-weight-normal" data-count="5">0</span>
            <h5 class="text-uppercase mt-2">{{"n.2"|translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="text-center border p-4 rounded mb-4">
            <span class="counter text-dark font-weight-normal" data-count="6">0</span>
            <h5 class="text-uppercase mt-2">{{"n.3"|translate}}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="text-center border p-4 rounded ">
            <span class="counter text-dark font-weight-normal" data-count="2">0</span>
            <h5 class="text-uppercase mt-2">{{"n.4"|translate}}</h5>
          </div>
        </div>
      </div>
    </div>
  </section>