<!--  SECTION TEAM  -->
<section class="section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading wow animated fadeInUp">
            <h3 class="mb-2">{{"l"|translate}}</h3>
            <p>{{"l.1"|translate}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
          <img height="339" width="350" src="./assets/images/team/team-1.jpeg" alt="Mohamed Amine Elleuch" class="img-fluid rounded w-100">
          <ul class="list-unstyled list-inline team-social mt-4">
            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/mohammedAminElleuch69"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/elleuch-mohamed-amin-32a4b7296"><i class="fab fa-linkedin"></i></a></li>
          </ul>
          <h4 class="mt-3">{{"l.2"|translate}}</h4>
          <p class="mb-0">{{"l.3"|translate}}</p>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <img height="339" width="350" src="./assets/images/team/team-2.png" alt="Amir Damak" class="img-fluid rounded w-100">
          <ul class="list-unstyled list-inline team-social mt-4">
            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/amir.damak.7"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/amir-damak-6350231b9"><i class="fab fa-linkedin"></i></a></li>
          </ul>
          <h4 class="mt-3">{{"l.4"|translate}}</h4>
          <p class="mb-0">{{"l.5"|translate}}</p>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <img height="339" width="350" src="./assets/images/team/team-3.png" alt="Yessine Gargouri" class="img-fluid rounded w-100">
          <ul class="list-unstyled list-inline team-social mt-4">
            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/yessine.gargouri.75"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/yessine-gargouri-698774279"><i class="fab fa-linkedin"></i></a></li>
          </ul>
          <h4 class="mt-3">{{"l.6"|translate}}</h4>
          <p class="mb-0">{{"l.7"|translate}}</p>
        </div>
      </div>
    </div>
  </section>