<div class="content-container" id="about">
    <!--  ABOUT AREA START  -->
   <section id="intro" class="section-padding">
     <div id="lawss" class="container">
       <div class="row">
         <div class=" wow bounceIn animated col-lg-12 col-sm-12 col-md-12"  > 
           <div class="section-heading">
             <p class="lead">{{"c"|translate}}</p>
           </div>
         </div>
       </div>
       <div class="row mb-5">
         <div class="col-lg-5 d-none d-lg-block col-sm-12 align-self-end">
            <div class="intro-img wow animated fadeInLeft"> 
             <img height="auto" width="auto" src="./assets/images/banner/allus.svg" loading="lazy" alt="intro-img" class="img-fluid">
           </div>
         </div>
         <div class=" animated col-lg-7 col-md-12 col-sm-12">
           <div class="row">
             <div class="col-lg-6 col-sm-6 col-md-6">
               <div class="intro-box">
                  <div class="wow fadeInRight animated dynamic-mobile" data-wow-delay="0.3s"> 
                   <span >01.</span>
                 </div>
                  <div class="wow fadeInLeft animated dynamic-mobile" data-wow-delay="0.6s"> 
                   <h4 class="animated">{{"c.1"|translate}}</h4>
                 </div>
                <div class="wow animated fadeInLeft dynamic-mobile" data-wow-delay="0.8s"> 
                 <p>{{"c.2"|translate}} </p>
               </div>
               </div>
             </div>
             <div class="col-lg-6 col-sm-6 col-md-6">
               <div class="intro-box">
                  <div class="wow fadeInRight animated dynamic-mobile" data-wow-delay="0.5s"> 
                   
                 <span >02.</span>
               </div>
               <div class="wow fadeInLeft animated dynamic-mobile" data-wow-delay="0.8s">
                 <h4>{{"c.3"|translate}}</h4>
               </div>
               <div class="wow animated fadeInLeft dynamic-mobile"  data-wow-delay="1s">
                 <p>{{"c.4"|translate}} </p>
               </div>
               </div>
             </div>
             <div class="col-lg-6 col-sm-6 col-md-6">
               <div class="intro-box">
                 <div class="wow fadeInRight animated dynamic-mobile" data-wow-delay="0.7s">
                   <span >03.</span>
                 </div>
                 <div class="wow fadeInLeft animated dynamic-mobile"  data-wow-delay="1s">
                 <h4>{{"c.5"|translate}}</h4>
                 </div>
               <div class="wow animated fadeInLeft dynamic-mobile"  data-wow-delay="1.2s">
                 <p>{{"c.6"|translate}}</p>
               </div>
               </div>
             </div>
             <div class="col-lg-6 col-sm-6 col-md-6">
               <div class="intro-box">
                 <div class="wow fadeInRight animated dynamic-mobile" data-wow-delay="0.9s">
                   <span >04.</span>
                 </div>
                 <div class="wow fadeInLeft animated dynamic-mobile"  data-wow-delay="1.2s">
                   <h4>{{"c.7"|translate}}</h4>
                   </div>
                   <div class="wow animated fadeInLeft dynamic-mobile" data-wow-delay="1.4s">
                   <p>{{"c.8"|translate}}
                   </p>
               </div>
               </div>
             </div>
             
           </div>
           <div class=" row lead wow fadeInUp dynamic-mobile" data-wow-delay="1.5s">
             <div class="col-lg-12">
               <div class="intro-cta">
                 <br>
                 <div class="lead">{{"c.9"|translate}}<a class="smoth-scroll"  href="./assets/contact.html">{{"c.10"|translate}}</a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--  ABOUT AREA END  -->
   